<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osias.home">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="com.osias.githubrepos.home.view.HomeActivity">
            <intent-filter>
                <action android:name="com.osias.home.action" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>